* {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #374233;
    box-sizing: border-box;
    padding: 10px;
  }
  
  h1 {
    color: white;
    margin: 10px;
    padding: 10px;
  }

  p {
    font-size: 18px;
    text-justify: inter-word;
    text-transform: lowercase;
    width: 100%;
    color: #F2F1DA;

  }

  h2 {
    color: white;
  }

  h3 {
    margin: 0px;
    color: #f3ffd5;
  }

  a {
    color: #F2F1DA;
    background-color: transparent;
  }

  #pic {
    height: 200px;
    width: 200px;
  }

  .row {
    display: table;
    content: "";
    clear: both;
  }
 
  .left-column {
    flex: 50%;
    float: left;
    width: 25%;
    margin: auto;
  }

  .right-column {
    flex: 50%;
    float: left;
    width: 75%;
  }

  @media screen and (max-width: 900px) {
    .left-column {
      width: 100%;
      margin: 0;
      padding: 0;
    }
    p {
      width: 135%;
    }
  }

  .topnav {
    overflow: hidden;
    }

  .topnav a {
    float: right;
    color: #F2F1DA;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 18px;
    }

  .topnav a:hover {
    background-color: #E6ECB8;
    color: #5B7553;
    }
    
    ul {
        margin: 0px;
        padding: 0px;
        color: #F2F1DA;
    }

    .middle {
      margin: auto;
      width: 50%;
      text-align: center;
  }
    .middle img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

    .youtube-video {
      aspect-ratio: 16 / 9;
      width: 100%;
    }
    