* {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f4fae0;
    margin: 10px 20px 20px 20px;
  }
  
  h1 {
    color: #5B7553;
    text-align: left;
  }

  p {
    font-size: 18px;
  }

  h3 {
    margin: 0px;
  }

  .links h3 {
    margin: 20px;
  }

  a {
    color:#5B7553;
  }

  #pic {
    height: 200px;
    width: 200px;
  }


  .header h1 {
    top: 20px;
    left: 20px
  }

  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }

  .topnav {
    background-color: #5B7553;
    overflow: hidden;
    }

    .topnav a {
        float: right;
        background-color: #5B7553;
        color: #f2f2f2;
        text-align: center;
        padding: 5px 5px;
        text-decoration: none;
        font-size: 18px;
        }

        /* Change the color of links on hover */
        .topnav a:hover {
        background-color: #f4fae0;
        color: #5B7553;
        }

    ul {
        margin: 0px;
        padding: 0px;
    }

    .middle {
        margin: 40px;

    }